body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(45deg, #2C5364, #203A43, #0f2027);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1, h3, li {
    color: white;
    font-family: monospace;
}

img {
    max-height: 100px;
}

ul {
    background-color: black;
    border: 5px black solid;
    text-align: left;
    width: 100px;
}